<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

    <link rel="shortcut icon" href="{{ url_for('static', filename='media/logo.png') }}"/>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <base href="/" />
  </head>
  <body>
  <body style="background-color: #ffe4c4">

    <div class="text-center">
      <h1 class="title">Prédiction note film</h1>
    </div>
    <div class="text-center">
      <a href="/movie"><button type="button" class="btn btn-primary btn-lg">Film à noter</button></a
      >
    </div>

    <!-- Zone recherche film-->
  </body>
</html>
