<!DOCTYPE html>
<html lang="fr-FR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Movie</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='media/logo.png') }}" />

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.2.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


  <base href="/" />
</head>

<body style="background-color: #ffe4c4">
  <div>
    <h1 class="title" style="text-align: center">{{title}}</h1>
    <br>
    <br>
    <br>
    
    <p>Réalisateur:<strong> {{director}}</strong></p>
    <p>Acteur principal:<strong> {{primary_name}}</strong></p>
    <p>Année:<strong> {{annee_sortie}}</strong></p>

    <p>Genre:<strong> {{genres}}</strong></p>
    <p>Genre:<strong> {{average_rating}}</strong></p>

  
    <form role="form" action="/note" method="POST">
      <label for="note">Si vous avez déjà vu ce film, quel note vous lui donneriez :</label>
      <input type="range" id="note" name="note" min="0" max="10" oninput="this.nextElementSibling.value = this.value" step="0.01"  style="width: 55%; vertical-align:middle;"/><output for="chiffre" onforminput="value = foo.valueAsNumber;"></output>
      <button type="submit" class="btn btn-warning">Valider</button>
      <a href="/movie"><button type="button" class="btn btn-primary">Changer de film</button></a>
    </form> 
    <form role="form" action="/no_note" method="POST">
      <label for="no_note">Si vous ne souhaitez directement voir les résultats : Cliquez ici :</label>

      <input type="hidden" id="no_note" name="no_note" value="0" />
      <button type="submit" class="btn btn-primary">Valider</button>

    </form>
  </div>

</body>

</html>