<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Note</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='media/logo.png') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <base href="/" />
  </head>
  <body style="background-color: #ffe4c4">
    <div>
      <h1 class="title" style="text-align: center">{{title}}</h1>
      <br>
      <br>
      <br>
      <p>Réalisateur: <strong>{{director}}</strong></p>
      <p>Acteur principal: <strong>{{primary_name}}</strong></p>
      <p>Année: <strong>{{annee_sortie}}</strong></p>

      <p>Genre: <strong>{{genres}}</strong></p>
  
        <p>Note utilisateur <strong>{{note_user}}</strong></p>
        <p>Note utilisateur <strong>Vous avez décidé de ne pas noter ce film</strong></p>

      <p>Vrai note <strong>{{note_film}}</strong></p>
    </div>


    <!-- Zone recherche film-->
  </body>
</html>
